[Unit]
Description=start docker's jenkins and gerrit
Requires=docker.service
After=docker.service

[Service]
Type=forked
ExecStart=/gjscript.sh

[Install]
WantedBy=multi-user.target
